{% extends "base.html" %}
{% load static %}
{% block title_main %}Home{% endblock %}
{% block body_main %}
<hr class="tm-mt-60">
{% include "partials/_navbar_main.html" %}
<hr class="tm-mt-60">
{% include "partials/_messages.html" %}
{% if dataDet %}
<div class="container-fluid tm-container-content tm-mt-60 tm-bg-gray">
    <div class="row mb-4">
    <h2 class="col-6 tm-text-primary">Recepies</h2>
        
    </div>
    <div class="row tm-mb-90 tm-gallery ">
        {% for food in dataDet %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <figure class="effect-ming tm-video-item">
                <img src="{{ food.rthumbnail.url }}" alt="Image" class="rounded mx-auto d-block " style="width: 20rem; height: 15rem; border: 2px;" >
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>Explore</h2>
                    <a href="{% url 'food_det' food.id %}">View More</a>
                </figcaption>                    
            </figure>                
    </div>
    
    <!-- <img src="{{ food.rthumbnail.url }}" alt="{{food.rthumbnail.name}}"> -->
            
{% endfor %}</div></div>
{% else %}
<p>No data found</p>
{% endif %}
    
{% endblock %}